.content-body {
  margin: 0 200px;
  padding: 50px 15px;
  flex: 1 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  max-width: 100vw;
  backdrop-filter: blur(6px);
  background-color: rgba(73, 166, 144, .15);
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px;
  border-left: 2px rgba(255, 255, 255, .15) solid;
  border-right: 2px rgba(40, 40, 40, .35) solid;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .content-body {
    margin: 0 25px;
    padding: 50px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .content-body {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    background-color: rgba(73, 166, 144, 0);
    backdrop-filter: none;
  }
}
