
.socials-subheading {
  margin: 0;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: var(--light-color);
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .socials-subheading {
    text-align: center;
  }
}
