.content-container {
  padding: 50px;
  display: flex;
  flex-flow: row;
  gap: 30px;
  width: 80%;
  background-color: rgba(253, 253, 252, .85);
  border-radius: 5px;
  border: .25px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 1.25rem;
  box-shadow: 0 15px 59px -20px rgba(0, 0, 0, .35);
}

.contact-form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 25px;
  width: 100%;
}

.form-subheading {
  margin: 0;
  font-size: 1.15rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: var(--text-color);
  text-align: justify;
}

.label {
  position: absolute;
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
  padding-top: .35rem;
  padding-left: 10px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  pointer-events: none;
}

.input-container {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;
}

.input {
  padding: 10px;
  min-width: 250px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: .01rem;
  background-color: rgba(255, 255, 255, .075);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  color: var(--text-color);
}

.input-errored {
  border-color: orangered;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
  transform: translateY(-100%) scale(0.75);
}

.message-body-input {
  min-height: 150px
}

.input-error {
  margin: 0;
  padding: 2px 0;
  align-self: flex-start;
  font-size: .75rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: orangered;
}

.submit-btn {
  padding: 15px;
  align-self: center;
  min-width: 200px;
  width: 100px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  color: var(--light-color);
  cursor: pointer;
}

.submit-btn:disabled {
  color: var(--dark-color);
  cursor: not-allowed;
}

@media only screen and (max-width: 1024px) {
  .content-container {
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    border-radius: 0;
  }
}