.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: sticky;
  padding: 0 200px;
  max-width: 100%;
  max-height: 160px;
  background-color: var(--dark-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
  z-index: 1;
}

.nav-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0;
  justify-content: center;
  align-items: end;
  gap: .5rem;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  max-height: 40px;
  color: var(--light-color)
}

.menu-icon,
.menu-icon::before {
  font-size: 2.25rem;
}

.menu-icon:hover,
.menu-toggle:checked~.menu-icon {
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(255, 255, 255, .75);
}

@media only screen and (max-width: 1024px) {
  .menu-icon {
    position: absolute;
    right: 20px;
    right: 20px;
    display: block;
    z-index: 1;
  }

  .menu-toggle:checked~.menu-icon {
    /* Keeps icon in fixed position when menu open even if background is scrolled */
    position: fixed;
    right: 20px;
  }

  .menu-icon::before {
    content: '\2630'; /* Default content (Hamburger icon) */
  }

  .menu-toggle:checked ~ .menu-icon::before {
    content: '\00D7'; /* Unicode for '×' (close symbol) */
  }

  .nav-container {
    display: none;
  }

  .menu-toggle:checked~.nav-container {
    display: flex;
    align-items: center;
  }

  .nav-container {
    position: fixed;
    left: 0;
    padding-top: 30px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-color: var(--dark-color);
    width: min-content;
    max-width: 100dvw;
    height: 100dvh;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    max-width: 100dvw;
  }
}
