#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  min-height: 100vh;
  max-width: 100dvw;
  background-image: url('./assets/images/foggy_forest.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed
}